<html lang="pl">
  <head>
    <title>Koszyk</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <h1 class="heading">Koszyk</h1>
      <% if (items && items.length > 0) { %>
        <ul>
          <% items.forEach(item => { %>
            <li><%= item.product.name %> - ilość: <%= item.quantity %></li>
          <% }) %>
        </ul>
      <% } else { %>
        <p>Koszyk jest pusty.</p>
      <% } %>
    </main>
  </body>
</html> 